extends layout

block head
  script(src="/javascripts/games.js")

block navbar
  li
    a#update(href="#") Update Game List

block content
  .padding-all
    .header
      h1
        img(src="#{imageUrl}", alt="nie ma", srcset="")
        | #{profileName}
    .design-w3l
      .mail-form-agile
        - each game in apps
          p#game-li
            img(src="#{game.imageUrl}" id="#{game.appId}")
            #right
              span #{game.name}
              span appId: #{game.appId}
              span #{game.playtime} minutes played

      