extends layout

block head
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/profile.js")

block navbar
  li
    a#update(href="#") Update Profile

block content
  h1= text
  h2= token
  .padding-all
    .header
      h1 #{user} Profile
      h2= password
      h4= token
    .design-w3l
      .mail-form-agile
        form
          input.padding(type="text", name="steamID64" placeholder="Enter your steamID64")
          br
          input#submit(type="submit", value="Save profile")
          
